.mod-menu-item {
    display: flex;
    margin: 0 -var(--clipcc-grid-unit);
    min-width: 6.25rem;
    padding: calc(2 * var(--clipcc-grid-unit));
    padding-left: calc(3 * var(--clipcc-grid-unit));
    padding-right: calc(3 * var(--clipcc-grid-unit));
    white-space: nowrap;
    width: 8.5rem;
    cursor: pointer;
    transition: 0.1s ease;
    align-items: center;
}

.mod-menu-item:hover {
    background: var(--clipcc-motion-primary);
    color: white;
}

.mod-context-menu {
    display: flex;
    flex-direction: column;
}

.mod-unselect {
    user-select: none;
}

.displayed-font-name {
    font-size: .8rem;
}

.bool-opt-dropdown {
    align-items: center;
    color: var(--clipcc-text-primary);
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    width: 8.5rem;
    height: 2rem;
}
