.container {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.dial-container {
    position: relative;
}

.dial-face, .dial-handle, .gauge {
    position: absolute;
    top: 0;
    left: 0;
    overflow: visible;
}

.dial-face {
    width: 100%;
}

.dial-handle {
    cursor: pointer;
    width: 40px;
    height: 40px;
    /* Use margin to make positioning via top/left easier */
    margin-left: calc(40px / -2);
    margin-top: calc(40px / -2);
}

.gauge-path {
    fill: var(--clipcc-motion-transparent);
    stroke: var(--clipcc-motion-primary);
    stroke-width: 1px;
}
