# General
.DS_Store
.nyc_output
.vscode/*
!.vscode/launch.json
node_modules
npm-*
yarn-error.log

# Dist
dist
build

# yarn
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions