.user-thumbnail {
    width: var(--clipcc-menu-bar-button-size);
    height: var(--clipcc-menu-bar-button-size);
    border-radius: var(--clipcc-form-radius);
    vertical-align: middle;
    box-shadow: 0 0 0 1px var(--clipcc-ui-black-transparent);
}
