/* for webkit */
.scrollbar::-webkit-scrollbar {
    width: var(--clipcc-scrollbar-thickness);
    height: var(--clipcc-scrollbar-thickness);
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: var(--clipcc-scrollbar-radius);
    background-color: var(--clipcc-scrollbar-color);
    border: solid white var(--clipcc-scrollbar-padding);
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: var(--clipcc-scrollbar-color-hover);
}

/* for firefox */
.scrollbar {
    scrollbar-color: var(--clipcc-scrollbar-color);
    scrollbar-width: thin;
}
