/* make sure to keep these in sync with other constants,
e.g. STAGE_DIMENSION_DEFAULTS in lib/screen-utils.js */

:root {
    --clipcc-space: 0.5rem;

    --clipcc-sprites-per-row: 5;

    --clipcc-menu-bar-height: 3rem;
    --clipcc-sprite-info-height: 6rem;
    --clipcc-stage-menu-height: 2.75rem;

    --clipcc-library-header-height: 3.125rem;
    --clipcc-library-filter-bar-height: 2.5rem;

    --clipcc-stage-standard-border-width: 0.0625rem;
    --clipcc-stage-full-screen-border-width: 0.1875rem;
    --clipcc-stage-full-screen-stage-padding: 0.1875rem;

    --clipcc-form-radius: calc(var(--clipcc-space) / 2);

    /* layout contants from `layout-constants.js` */
    --clipcc-full-size: 1095px;
    --clipcc-full-size-paint: 1249px;

    --clipcc-menu-bar-standard-font-size: 0.75rem;
    --clipcc-menu-bar-large-font-size: 0.875rem;
    --clipcc-menu-bar-button-size: 2rem;

    --clipcc-menu-bar-item-max-width: 12rem;

    /* scroll bar units */
    --clipcc-scrollbar-thickness: 9px;
    --clipcc-scrollbar-radius: 6px;
    --clipcc-scrollbar-padding: 2.5px;
    --clipcc-scrollbar-color: #bbb;
    --clipcc-scrollbar-color-hover: #aaa;

    /* blockly stuff */
    --clipcc-category-width: 85px;
}
