.context-menu-content {
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    padding: 5px 0px;
    border: 1px solid var(--clipcc-ui-black-transparent);
    border-radius: calc(var(--clipcc-space) / 2);
    box-shadow: 0px 0px 5px 1px var(--clipcc-ui-black-transparent);
    transition: opacity 0.2s ease;
    z-index: var(--clipcc-z-index-context-menu);
}

.menu-item {
    font-size: 13px;
    line-height: 1;
    display: flex;
    align-items: center;
    height: 25px;
    padding: 0px 12px;
    padding-right: 40px;
    position: relative;
    user-select: none;
    outline: none;
    cursor: pointer;
    color: var(--clipcc-text-primary);
}

.menu-item[data-highlighted] {
    background: var(--clipcc-motion-primary);
    color: var(--clipcc-on-motion-primary);
}

.menu-item-danger[data-highlighted] {
    background: var(--clipcc-error-primary);
}

.menu-item-bordered {
    border-top: 1px solid var(--clipcc-ui-black-transparent);
}
