.menu-container {
    display: flex;
    flex-direction: column-reverse;
    transition: 0.2s;
    position: relative;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: var(--clipcc-motion-primary);
    outline: none;
    border: none;
    transition: background-color 0.2s;
}

button::-moz-focus-inner {
    border: 0;
}

.button:hover {
    background: var(--clipcc-extensions-primary);
}

.button:active {
    padding: inherit;
}

.button.coming-soon:hover {
    background: var(--clipcc-data-primary);
}

.main-button {
    border-radius: 100%;
    width: 2.75rem;
    height: 2.75rem;
    box-shadow: 0 0 0 4px var(--clipcc-motion-transparent);
    z-index: var(--clipcc-z-index-add-button);
    transition: transform, box-shadow 0.5s;
}

.main-button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 0 6px var(--clipcc-motion-transparent);
}

.main-icon {
    width: calc(2.75rem - 1rem);
    height: calc(2.75rem - 1rem);
}

[dir="rtl"] .main-icon {
    transform: scaleX(-1);
}

.more-buttons-outer {
    /*
        Need to use two divs to set different overflow x/y
        which is needed to get animation to look right while
        allowing the tooltips to be visible.
    */
    overflow-y: hidden;

    background: var(--clipcc-motion-tertiary);
    border-top-left-radius: 2.25rem;
    border-top-right-radius: 2.25rem;
    width: 2.25rem;
    margin-left: calc((2.75rem - 2.25rem) / 2);
    margin-right: calc((2.75rem - 2.25rem) / 2);

    position: absolute;
    bottom: calc(2.75rem);

    margin-bottom: calc(2.75rem / -2);
    padding-bottom: calc(2.75rem / 2);
}

.more-buttons {
    max-height: 0;
    transition: max-height 1s;
    overflow-x: visible;
    display: flex;
    flex-direction: column;
    z-index: 10; /* @todo justify */
}

.file-input {
    display: none;
}

.expanded .more-buttons {
    max-height: 1000px; /* Arbitrary, needs to be a value in order for animation to run */
}

.force-hidden .more-buttons {
    display: none; /* This property does not animate */
}

.more-buttons:first-child { /* Round off top button */
    border-top-right-radius: 2.25rem;
    border-top-left-radius: 2.25rem;
}

.more-button {
    width: 2.25rem;
    height: 2.25rem;
    background: var(--clipcc-motion-tertiary);
}

.more-icon {
    width: calc(2.25rem - 1rem);
    height: calc(2.25rem - 1rem);
}

.coming-soon .more-icon {
    opacity: 0.5;
}

/*
    @todo needs to be refactored with coming soon tooltip overrides.
    The "!important"s are for the same reason as with coming soon, the library
    is not very easy to style.
*/
.tooltip {
    background-color: var(--clipcc-extensions-primary) !important;
    opacity: 1 !important;
    border: 1px solid hsla(0, 0%, 0%, .1) !important;
    box-shadow: 0 0 .5rem hsla(0, 0%, 0%, .25) !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.tooltip:after {
    background-color: var(--clipcc-extensions-primary);
}

.coming-soon-tooltip {
    background-color: var(--clipcc-data-primary) !important;
}

.coming-soon-tooltip:after {
    background-color: var(--clipcc-data-primary) !important;
}

.tooltip {
    border: 1px solid hsla(0, 0%, 0%, .1) !important;
    border-radius: var(--clipcc-form-radius) !important;
    box-shadow: 0 0 .5rem hsla(0, 0%, 0%, .25) !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    z-index: var(--clipcc-z-index-tooltip) !important;
}

.tooltip:after {
    content: "";
    border-top: 1px solid hsla(0, 0%, 0%, .1) !important;
    border-left: 0 !important;
    border-bottom: 0 !important;
    border-right: 1px solid hsla(0, 0%, 0%, .1) !important;
    border-radius: 0.125rem;
    height: 0.5rem !important;
    width: 0.5rem !important;
}

.tooltip:global(.place-left):after {
    margin-top: -0.25rem !important;
    right: -0.25rem !important;
    transform: rotate(45deg) !important;
}

.tooltip:global(.place-right):after {
    margin-top: -0.25rem !important;
    left: -0.25rem !important;
    transform: rotate(-135deg) !important;
}

.tooltip:global(.place-top):after {
    margin-right: -0.25rem !important;
    bottom: -0.25rem !important;
    transform: rotate(135deg) !important;
}

.tooltip:global(.place-bottom):after {
    margin-left: -0.25rem !important;
    top: -0.25rem !important;
    transform: rotate(-45deg) !important;
}
