.absolute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /* Force the browser to paint separately to avoid composite cost with waveform */
    transform: translateZ(0);
}

.selector {
    cursor: pointer;
}

.trim-background {
    cursor: pointer;
    touch-action: none;
}

.trim-background-mask {
    border: 1px solid var(--clipcc-red-tertiary);
    opacity: 0.5;

    background: repeating-linear-gradient(
        45deg,
        var(--clipcc-red-primary),
        var(--clipcc-red-primary) 10px,
        var(--clipcc-red-tertiary) 10px,
        var(--clipcc-red-tertiary) calc(2 * 10px)
    );
}

.selection-background {
    background: var(--clipcc-motion-primary);
    opacity: 0.5;
}

.start-trim-background .trim-background-mask {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.end-trim-background .trim-background-mask {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.trim-line {
    position: absolute;
    top: 0;
    width: 0px;
    height: 100%;
    border: 1px solid var(--clipcc-red-tertiary);
}

.selector .trim-line {
    border: 1px solid var(--clipcc-motion-tertiary);
}

.playhead-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.playhead {
    /*
        Even though playhead is just a line, it is 100% width (the width of the waveform)
        so that we can use transform: translateX() using percentages.
    */
    width: 100%;
    height: 100%;
    border-left: 1px solid var(--clipcc-motion-primary);
    border-top: none;
    border-bottom: none;
    border-right: none;
}

.right-handle {
    transform: scaleX(-1);
}

.selector .left-handle {
    left: -1px
}

.selector .right-handle {
    right: -1px
}

.trimmer .left-handle {
    right: -1px
}

.trimmer .right-handle {
    left: -1px
}

.trim-handle {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0;
    user-select: none;
}

.trimmer .trim-handle {
    filter: hue-rotate(-240deg) brightness(1.35);
}

.trim-handle img {
    position: absolute;
    width: 30px;
    height: 30px;
    left: calc(3px * 1.5);

    /* Make sure image dragging isn't triggered */
    user-select: none;
    user-drag: none;
    -webkit-user-drag: none; /* Autoprefixer doesn't seem to work for this */

    transition: 0.2s;
}

.top-trim-handle {
    top: calc(-30px + 3px);
}

.bottom-trim-handle {
    bottom: calc(-30px + 3px);
}

.top-trim-handle img {
    transform: scaleY(-1);
}
