.mode-tools {
    display: flex;
    min-height: 3rem;
    align-items: center;
}

.mode-tools-icon {
    margin-right: calc(2 * var(--clipcc-grid-unit));
    width: 2rem;
    height: 2rem;
}

[theme='dark'] .mode-tools-icon {
    filter: brightness(0) invert(0.8);
}

[dir="ltr"] .mod-dashed-border {
    border-right: 1px dashed var(--clipcc-ui-pane-border);
    padding-right: calc(3 * var(--clipcc-grid-unit));
}

[dir="rtl"] .mod-dashed-border {
    border-left: 1px dashed var(--clipcc-ui-pane-border);
    padding-left: calc(3 * var(--clipcc-grid-unit));
}

.mod-labeled-icon-height {
    display: flex;
    height: 2.85rem; /* for the second row so the dashed borders are equal in size */
    align-items: center;
}
