.inline-message {
    color: var(--clipcc-ui-white);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: .8125rem;
}

.success {
    color: var(--clipcc-ui-white-dim);
}

.info {
    color: var(--clipcc-ui-white);
}

.warn {
    color: var(--clipcc-error-light);
}

.spinner {
    margin-right: var(--clipcc-space);
}
