.tag-button {
    padding: .625rem 1rem;
    background: var(--clipcc-motion-primary);
    border-radius: 1.375rem;
    color: var(--clipcc-on-motion-primary);
    height: var(--clipcc-library-filter-bar-height);
}

.tag-button-icon {
    max-width: 1rem;
    max-height: 1rem;
}

.active {
    background: var(--clipcc-data-primary);
}
