.blocklyWidgetDiv .blocklyMenu {
  box-shadow: 0 8px 8px 0 hsla(0, 0%, 0%, 0.15);
  transition: 0.25s ease-out;
  border: none;
  outline: none;
}

.blocklyDropDownDiv .blocklyMenuItem {
  color: #fff;
  transition: 0.25s ease-out;
}

.blocklyDropDownDiv .blocklyMenuItem:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.blocklyWidgetDiv .blocklyMenuItem {
  transition: 0.25s ease-out;
}

.blocklyWidgetDiv .blocklyMenu:focus {
  box-shadow: 0 8px 8px 0 hsla(0, 0%, 0%, 0.15);
}

.blocklyWidgetDiv .blocklyMenuItemHighlight {
  background-color: var(--clipcc-block-menuHover);
}

.blocklyWidgetDiv .blocklyMenuItemDisabled .blocklyMenuItemHighlight {
  background: none;
}

.blocklyDragging>.blocklyPath {
  fill-opacity: 1;
  stroke-opacity: 1;
}

.blocklyDragging:not(.blocklyDragging .blocklyDragging)>.blocklyPath {
  filter: drop-shadow(0 0px 6px hsla(0, 0%, 0%, 0.6));
}
