.scratchColourPickerLabel {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 0.65rem;
  color: var(--clipcc-block-toolboxText);
  margin: 8px;
}

.scratchColourPickerText {
  font-weight: bold;
}

.scratchColourPickerReadout {
  margin-left: 10px;
}

.scratchColourSlider {
  display: block;
  appearance: none;
  margin: 8px;
  height: 22px;
  width: 150px;
  position: relative;
  outline: none;
  border-radius: 11px;
  margin-bottom: 20px;
}

/* Combining this and the -moz equivalent below with a comma break the webkit version */
.scratchColourSlider::-webkit-slider-thumb {
  appearance: none;
  background-color: #fff;
  height: 26px;
  width: 26px;
  border-radius: 100%;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.15);
}

.scratchColourSlider::-moz-range-thumb {
  appearance: none;
  background-color: #fff;
  height: 26px;
  width: 26px;
  border-radius: 100%;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.15);
}

.scratchEyedropper {
  background: none;
  outline: none;
  border: none;
  width: 100%;
  text-align: center;
  border-top: 1px solid #ddd;
  padding-top: 5px;
  cursor: pointer;
}
