.blocklyWorkspace, .blocklyBlockDragSurface {
  --commentFillColour: #fef49c;
  --commentTopBarColour: #e4db8c;
  --commentBorderColour: #bca903;
}

.blocklyCollapsed.blocklyComment .blocklyFoldoutIcon {
  transform: rotate(-180deg);
}

.blocklyComment .blocklyCommentTopbarBackground {
  height: 32px;
  fill: var(--commentTopBarColour);
}

.blocklyCollapsed .blocklyCommentTopbarBackground {
  outline: 1px solid var(--commentBorderColour);
}

.blocklyComment {
  border: 1px solid var(--commentBorderColour);
  border-radius: 4px;
}

.blocklyCommentHighlight {
  stroke: var(--commentBorderColour);
  stroke-width: 2px;
}

.blocklySelected .blocklyCommentHighlight {
  stroke: var(--commentBorderColour);
  stroke-width: 2px;
}

.blocklyCollapsed .blocklyCommentHighlight {
  stroke-width: 0;
  stroke: var(--commentBorderColour);
}

.blocklySelected.blocklyCollapsed .blocklyCommentTopbarBackground {
  stroke-width: 0;
}

.blocklyComment .blocklyTextarea {
  border: none;
  padding: 12px;
}

.blocklyDeleteIcon {
  display: block;
  width: 32px;
  height: 32px;
}

.blocklyResizeHandle {
  height: 20px;
  width: 20px;
}

.blocklyFoldoutIcon {
  width: 32px;
  height: 32px;
  transform-origin: 16px 16px;
}
