@import "../../css/colors.css";

.button {
    background: none;
    cursor: pointer;
    user-select: none;
}
.button:active {
    background-color: var(--clipcc-motion-transparent); 
}
.highlighted.button {
    background-color: var(--clipcc-motion-transparent); 
}
.mod-disabled {
    cursor: auto;
    opacity: .5;
}
.mod-disabled:active {
    background: none;
}
